body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.fa{
font-size: 30px;
color: #000000;
text-decoration: none;
}

.main{
  font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    position: relative;
}
.menu-bar {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  margin: -550px 0 0 0;
}
.menu-bar li {
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #646464, #a8a8a8);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

.stars {
  color: rgb(97, 179, 233);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--star-colors);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.58em;
  --top-offset: 60.37vh;
  --fall-duration: 10.836s;
  --fall-delay: 3.237s;
}
.star:nth-child(2) {
  --star-tail-length: 6.33em;
  --top-offset: 43.92vh;
  --fall-duration: 11.488s;
  --fall-delay: 6.339s;
}
.star:nth-child(3) {
  --star-tail-length: 6.96em;
  --top-offset: 79.79vh;
  --fall-duration: 8.97s;
  --fall-delay: 3.339s;
}
.star:nth-child(4) {
  --star-tail-length: 6.47em;
  --top-offset: 29.53vh;
  --fall-duration: 11.516s;
  --fall-delay: 8.827s;
}
.star:nth-child(5) {
  --star-tail-length: 7.5em;
  --top-offset: 98.99vh;
  --fall-duration: 8.547s;
  --fall-delay: 8.608s;
}
.star:nth-child(6) {
  --star-tail-length: 5.93em;
  --top-offset: 37.68vh;
  --fall-duration: 8.898s;
  --fall-delay: 2.679s;
}
.star:nth-child(7) {
  --star-tail-length: 6.85em;
  --top-offset: 72.68vh;
  --fall-duration: 11.158s;
  --fall-delay: 3.774s;
}
.star:nth-child(8) {
  --star-tail-length: 5.59em;
  --top-offset: 63.43vh;
  --fall-duration: 8.811s;
  --fall-delay: 1.205s;
}
.star:nth-child(9) {
  --star-tail-length: 6.64em;
  --top-offset: 39.24vh;
  --fall-duration: 9.932s;
  --fall-delay: 2.734s;
}
.star:nth-child(10) {
  --star-tail-length: 6.08em;
  --top-offset: 83.48vh;
  --fall-duration: 6.531s;
  --fall-delay: 4.67s;
}
.star:nth-child(11) {
  --star-tail-length: 7.06em;
  --top-offset: 94.01vh;
  --fall-duration: 7.727s;
  --fall-delay: 1.178s;
}
.star:nth-child(12) {
  --star-tail-length: 5.07em;
  --top-offset: 36.13vh;
  --fall-duration: 9.243s;
  --fall-delay: 2.732s;
}
.star:nth-child(13) {
  --star-tail-length: 7.44em;
  --top-offset: 65.8vh;
  --fall-duration: 7.732s;
  --fall-delay: 0.021s;
}
.star:nth-child(14) {
  --star-tail-length: 6.12em;
  --top-offset: 81.77vh;
  --fall-duration: 11.637s;
  --fall-delay: 4.48s;
}
.star:nth-child(15) {
  --star-tail-length: 6.58em;
  --top-offset: 79.31vh;
  --fall-duration: 6.877s;
  --fall-delay: 5.934s;
}
.star:nth-child(16) {
  --star-tail-length: 7.21em;
  --top-offset: 10.41vh;
  --fall-duration: 7.304s;
  --fall-delay: 2.42s;
}
.star:nth-child(17) {
  --star-tail-length: 5.04em;
  --top-offset: 33.85vh;
  --fall-duration: 6.572s;
  --fall-delay: 0.418s;
}
.star:nth-child(18) {
  --star-tail-length: 6.27em;
  --top-offset: 54.05vh;
  --fall-duration: 7.505s;
  --fall-delay: 6.898s;
}
.star:nth-child(19) {
  --star-tail-length: 7.39em;
  --top-offset: 99.54vh;
  --fall-duration: 10.487s;
  --fall-delay: 2.912s;
}
.star:nth-child(20) {
  --star-tail-length: 5.4em;
  --top-offset: 14.04vh;
  --fall-duration: 11.602s;
  --fall-delay: 4.735s;
}
.star:nth-child(21) {
  --star-tail-length: 6.22em;
  --top-offset: 33.54vh;
  --fall-duration: 6.068s;
  --fall-delay: 9.893s;
}
.star:nth-child(22) {
  --star-tail-length: 6.17em;
  --top-offset: 16.05vh;
  --fall-duration: 10.166s;
  --fall-delay: 6.231s;
}
.star:nth-child(23) {
  --star-tail-length: 7.12em;
  --top-offset: 99.55vh;
  --fall-duration: 11.917s;
  --fall-delay: 0.049s;
}
.star:nth-child(24) {
  --star-tail-length: 6.56em;
  --top-offset: 68.5vh;
  --fall-duration: 11.774s;
  --fall-delay: 1.26s;
}
.star:nth-child(25) {
  --star-tail-length: 5.95em;
  --top-offset: 17.25vh;
  --fall-duration: 10.958s;
  --fall-delay: 6.085s;
}
.star:nth-child(26) {
  --star-tail-length: 6.77em;
  --top-offset: 63.83vh;
  --fall-duration: 6.195s;
  --fall-delay: 7.646s;
}
.star:nth-child(27) {
  --star-tail-length: 5.07em;
  --top-offset: 32.36vh;
  --fall-duration: 10.745s;
  --fall-delay: 9.923s;
}
.star:nth-child(28) {
  --star-tail-length: 7.37em;
  --top-offset: 48.02vh;
  --fall-duration: 7.337s;
  --fall-delay: 7.091s;
}
.star:nth-child(29) {
  --star-tail-length: 5.39em;
  --top-offset: 65.52vh;
  --fall-duration: 8.444s;
  --fall-delay: 9.524s;
}
.star:nth-child(30) {
  --star-tail-length: 7.48em;
  --top-offset: 27.38vh;
  --fall-duration: 6.447s;
  --fall-delay: 9.355s;
}
.star:nth-child(31) {
  --star-tail-length: 6.5em;
  --top-offset: 92.39vh;
  --fall-duration: 6.397s;
  --fall-delay: 4.389s;
}
.star:nth-child(32) {
  --star-tail-length: 5.15em;
  --top-offset: 67.77vh;
  --fall-duration: 11.879s;
  --fall-delay: 9.66s;
}
.star:nth-child(33) {
  --star-tail-length: 5.96em;
  --top-offset: 30.92vh;
  --fall-duration: 8.669s;
  --fall-delay: 3.334s;
}
.star:nth-child(34) {
  --star-tail-length: 5.26em;
  --top-offset: 70.74vh;
  --fall-duration: 11.434s;
  --fall-delay: 2.41s;
}
.star:nth-child(35) {
  --star-tail-length: 5.86em;
  --top-offset: 78.01vh;
  --fall-duration: 6.19s;
  --fall-delay: 5.591s;
}
.star:nth-child(36) {
  --star-tail-length: 6.49em;
  --top-offset: 11.38vh;
  --fall-duration: 11.501s;
  --fall-delay: 6.951s;
}
.star:nth-child(37) {
  --star-tail-length: 6.62em;
  --top-offset: 82.12vh;
  --fall-duration: 10.005s;
  --fall-delay: 8.018s;
}
.star:nth-child(38) {
  --star-tail-length: 6.13em;
  --top-offset: 13.82vh;
  --fall-duration: 10.384s;
  --fall-delay: 3.037s;
}
.star:nth-child(39) {
  --star-tail-length: 6.33em;
  --top-offset: 78.91vh;
  --fall-duration: 8.734s;
  --fall-delay: 2.51s;
}
.star:nth-child(40) {
  --star-tail-length: 6.75em;
  --top-offset: 75.98vh;
  --fall-duration: 6.735s;
  --fall-delay: 6.326s;
}
.star:nth-child(41) {
  --star-tail-length: 6.95em;
  --top-offset: 48.18vh;
  --fall-duration: 6.571s;
  --fall-delay: 5.946s;
}
.star:nth-child(42) {
  --star-tail-length: 6.52em;
  --top-offset: 79.22vh;
  --fall-duration: 9.045s;
  --fall-delay: 7.989s;
}
.star:nth-child(43) {
  --star-tail-length: 5.07em;
  --top-offset: 93.31vh;
  --fall-duration: 11.001s;
  --fall-delay: 2.299s;
}
.star:nth-child(44) {
  --star-tail-length: 5.28em;
  --top-offset: 84.85vh;
  --fall-duration: 7.126s;
  --fall-delay: 3.185s;
}
.star:nth-child(45) {
  --star-tail-length: 5.53em;
  --top-offset: 67.66vh;
  --fall-duration: 6.054s;
  --fall-delay: 9.597s;
}
.star:nth-child(46) {
  --star-tail-length: 5.63em;
  --top-offset: 27.52vh;
  --fall-duration: 10.939s;
  --fall-delay: 9.299s;
}
.star:nth-child(47) {
  --star-tail-length: 5.47em;
  --top-offset: 68.34vh;
  --fall-duration: 9.659s;
  --fall-delay: 5.881s;
}
.star:nth-child(48) {
  --star-tail-length: 5.16em;
  --top-offset: 45.21vh;
  --fall-duration: 9.001s;
  --fall-delay: 2.522s;
}
.star:nth-child(49) {
  --star-tail-length: 7em;
  --top-offset: 80.82vh;
  --fall-duration: 7.526s;
  --fall-delay: 6.013s;
}
.star:nth-child(50) {
  --star-tail-length: 5.94em;
  --top-offset: 92.92vh;
  --fall-duration: 9.881s;
  --fall-delay: 1.877s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */